<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5">Add organization</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form th:action="@{/admin/orgs/add}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="text" name="name" class="form-control mb-3" placeholder="Org name" minlength="3" required>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>