<div class="modal-header">
    <h1 class="modal-title fs-5">Edit user profile</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form th:action="@{|/admin/users/${user.id}/update|}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <input type="text" name="username" class="form-control mb-3" th:value="${user.username}"
            th:placeholder="${user.username}" minlength="3" required>
        <input type="text" name="fullname" class="form-control mb-3" th:value="${user.fullname}"
            th:placeholder="${user.fullname}" minlength="6" required>
        <input type="text" name="email" class="form-control mb-3" th:value="${user.email}"
            th:placeholder="${user.email}">
        <select name="role" class="form-select mb-3">
            <option th:value="${user.role}" th:text="${user.role}"></option>
            <option th:each="role : ${roles}" th:if="${role}!=${user.role}" th:value="${role}" th:text="${role}">
            </option>
        </select>
        <select name="org" class="form-select mb-3">
            <option th:value="${user.org}" th:text="${user.org?.name}"></option>
            <option th:if="${user.org!=null}" value=""></option>
            <option th:each="org : ${orgs}" th:if="${org}!=${user.org}" th:value="${org.name}" th:text="${org.name}">
            </option>
        </select>
        <button type="submit" class="btn btn-primary">Update user</button>
    </form>
    <hr>
    <form th:action="@{|/admin/users/${user.id}/updatepassword|}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="password" name="password" class="form-control mb-3" placeholder="Password" minlength="8">
        <button type="submit" class="btn btn-primary">Update password</button>
    </form>
</div>