<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{snippets/base.html::head('List orgs')}"></head>

<body>
    <div class="container">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addOrgModal">Add
            organisation</button>
        <table class="table">
            <thead>
                <tr>
                    <th> Name </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="org : ${orgs}">
                    <td><span th:text="${org.name}"> name </span></td>
                    <td><a th:href="@{|/admin/orgs/${org.id}/delete|}"><i class="bi bi-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
        <!-- Add org modal -->
        <div class="modal fade" id="addOrgModal" tabindex="-1" aria-labelledby="addOrgModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Add organisation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/admin/orgs/add}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input type="text" name="name" class="form-control mb-3" placeholder="Org name"
                                minlength="3" required>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>