<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{_base.html::head('List orgs')}"></head>

<body>
    <nav th:replace="~{_base.html::navbar}"></nav>
    <div class="container mt-2">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" hx-get="/admin/orgs/add" hx-target="#addOrgDialog" hx-trigger="click"
                class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addOrgDialog">Add
                organization</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th> Name </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="org : ${orgs}">
                    <td><span th:text="${org.name}"> name </span></td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a
                                th:href="@{|/admin/orgs/${org.id}/edit|}"><i class="bi bi-pencil-fill"></i></a><a
                                th:href="@{|/admin/orgs/${org.id}/delete|}"><i class="bi bi-trash"></i></a></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Add org modal -->
        <div class="modal fade" id="addOrgDialog" tabindex="-1" aria-labelledby="addOrgDialog" aria-hidden="true">
            <div class="modal-dialog"></div>
        </div>
    </div>
</body>

</html>