<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <title>Create organisation</title>
</head>

<body>
    <form action="" method="post">
        <div class="container">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <label for="name"><b>Organisation name</b></label>
            <input type="text" name="name" id="name" required>

            <button type="submit" class="registerbtn">Add</button>
        </div>
    </form>
</body>

</html>