<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{_base.html::head('List users')}"></head>

<body>
    <nav th:replace="~{_base.html::navbar}"></nav>
    <div class="container mt-2">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#mainModalDialog" hx-get="/admin/users/add" hx-target="#mainModalDialog"
                hx-trigger="click">
                Add user</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Username </th>
                    <th> Email </th>
                    <th> Role </th>
                    <th> Org </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.fullname}"> name </span></td>
                    <td><span th:text="${user.username}"> username </span></td>
                    <td><span th:text="${user.email}"> email </span></td>
                    <td><span th:text="${user.role}"> role </span></td>
                    <td><span th:text="${user.org!=null}?${user.org.name}:''"> org </span></td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#mainModalDialog"
                                th:hx-get="@{|/admin/users/${user.id}/update|}" hx-target="#mainModalDialog"
                                hx-trigger="click"><i class="bi bi-pencil-fill"></i></a>
                            <a href="#" th:hx-get="@{|/admin/users/${user.id}/delete|}" hx-confirm="Are you sure?"
                                hx-target="closest tr" hx-swap="delete"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:replace="~{_base.html::mainModalDialog}"></div>
    </div>
</body>

</html>