<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{_base.html::head('List users')}"></head>

<body>
    <nav th:replace="~{_base.html::navbar}"></nav>
    <div class="container mt-2">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addUserDialog"
                hx-get="/admin/users/add" hx-target="#addUserDialog" hx-trigger="click">Add
                user</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Username </th>
                    <th> Email </th>
                    <th> Role </th>
                    <th> Org </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.fullname}"> name </span></td>
                    <td><span th:text="${user.username}"> username </span></td>
                    <td><span th:text="${user.email}"> email </span></td>
                    <td><span th:text="${user.role}"> role </span></td>
                    <td><span th:text="${user.org!=null}?${user.org.name}:''"> org </span></td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a
                                th:href="@{|/admin/users/${user.id}/edit|}"><i class="bi bi-pencil-fill"></i></a><a
                                th:href="@{|/admin/users/${user.id}/delete|}"><i class="bi bi-trash"></i></a></div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Add user modal -->
        <div class="modal fade" id="addUserDialog" tabindex="-1" aria-labelledby="addUserDialog" aria-hidden="true">
            <div class="modal-dialog"></div>
        </div>

    </div>
</body>

</html>