<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{snippets/base.html::head('List users')}"></head>

<body>
    <div class="container">
        <div><a th:href="@{/customer/admin/users/invite}">Invite user</a></div>
        <table class="table">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Username </th>
                    <th> Email </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.fullname}"> name </span></td>
                    <td><span th:text="${user.username}"> username </span></td>
                    <td><span th:text="${user.email}"> email </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>