<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{_base.html::head('List users')}"></head>

<body>
    <nav th:replace="~{_base.html::navbar}"></nav>
    <div class="container mt-2">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary " th:hx-get="@{/customer/admin/users/invite}" hx-target="body"
                hx-swap="beforeend">Invite user</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Username </th>
                    <th> Email </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.fullname}"> name </span></td>
                    <td><span th:text="${user.username}"> username </span></td>
                    <td><span th:text="${user.email}"> email </span></td>
                    <td><a href="#" th:hx-get="@{|/customer/admin/users/${user.id}/delete|}" hx-confirm="Are you sure?"
                            hx-target="closest tr" hx-swap="delete"><i class="bi bi-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>