<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{_base.html::head('Register user')}"></head>

<body>
    <script>
        function showRegisterForm() {
            var formSelect = document.getElementById('form-selector')
            for (i = 0; i < formSelect.length; i++) {
                if (formSelect.options[i].value != '_')
                    document.getElementById(formSelect.options[i].value).style.display = 'none'
            }
            if (formSelect.value != '_') document.getElementById(formSelect.value).style.display = 'block'
        }
    </script>

    <div class="container" style="width: 500px;">
        <h3 class="mt-5 mb-3">New user registration</h3>
        <select id="form-selector" class="form-select mb-3" onchange="showRegisterForm()">
            <option value="_">Choose authentication source type</option>
            <option value="internal">InternalDB</option>
            <option value="github">Github.com Oauth</option>
        </select>

        <form id="internal" action="" method="post" style="display: none;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="text" name="username" class="form-control mb-3" placeholder="Username" minlength="3" required>
            <input type="text" name="fullname" class="form-control mb-3" placeholder="Full Name" minlength="6" required>
            <input type="password" name="password" class="form-control mb-3" placeholder="Password" minlength="8"
                required>
            <input type="text" name="email" class="form-control mb-3" placeholder="Email (optional)">
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

        <form id="github" action="" method="post" style="display: none;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="text" name="username" class="form-control mb-3" placeholder="Username at github.com"
                minlength="3" required>
            <input type="text" name="fullname" class="form-control mb-3" placeholder="Full Name" minlength="6" required>
            <input type="text" name="email" class="form-control mb-3" placeholder="Email (optional)">
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</body>

</html>