<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{_base.html::head('Tickets')}"></head>

<body>
    <nav th:replace="~{_base.html::navbar}"></nav>
    <div class="container mt-2">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#mainDialog"
                hx-get="/tickets/add" hx-target="#mainDialogContent" hx-trigger="click">
                Add ticket</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th> Subject </th>
                    <th> Priority </th>
                    <th> Status </th>
                    <th> CreatedAt </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td><a th.href="@{|/tickets/{$ticket.id}|}" th:text="${ticket.subject}"> </span></td>
                    <td><span th:text="${ticket.priority}"> </span></td>
                    <td><span th:text="${ticket.status}"> </span></td>
                    <td><span th:text="${ticket.createdAt}"> </span></td>
                </tr>
            </tbody>
        </table>
        <div th:replace="~{_base.html::mainDialog}"></div>
    </div>
</body>

</html>